@import './main';

body {
  margin: 0;
  padding: 0;
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $baseFontSize-M;
  background-color: $backgroundColor;
}

html, body, .main {
  height: 100%;
}

.text-bold {
  font-weight: bold;
}
