@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic);

// Media query variables
$mobileMinWidth  : 0px;
$mobileMaxWidth  : 480px;
$desktopMinWidth : 481px;

// Color palette
$blue      : #0060ff;
$green     : #43b351;

$buttonBlue  : #0060ff;
$buttonGreen : #43b351;
$buttonRed   : #dd4b39;

$grey        : #fefefe;
$dark-grey   : #424754;
$light-black : #13151a;
$black       : #07090C;

$backgroundColor: #101114;

$cardLockIconColor: #8A8B8D;
$darkGreyBorderColor: #434448;

// Font configuration
$baseFontColor    : $grey;

$baseFontFamily   : 'Open Sans', sans-serif;
$futuraFontFamily : "futura-pt", sans-serif;

$mobileFontSize-L  : 30px;
$mobileFontSize-M  : 18px;
$mobileFontSize-S  : 16px;
$mobileFontSize-XS : 14px;

$baseFontSize-L  : 36px;
$baseFontSize-M  : 16px;
$baseFontSize-S  : 14px;
$baseFontSize-XS : 12px;
