@import '../../../../../stylesheets/modules/config';

.title {
  text-transform: uppercase;
  font-family: $futuraFontFamily;
  font-size: 24px;
  color: $grey;
  text-align: center;
  padding: 30px 0 0 0;
  letter-spacing: 0.1em;
}

.list-title {
  font-family: $baseFontFamily;
  font-size: $baseFontSize-M;
  font-weight: 300;
  color: $grey;
  padding: 10px 0 0 0;
  text-align: center;
  opacity: 0.5;
}

.encounters-container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 20px;
  max-width: 710px;
}

.encounters {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
  border-top: 1px solid #232324;
  padding: 30px 20px;
  flex-flow: column wrap;
}

.custom-emails-field {
  display: inline-block;
  border: 1px solid #ccced2;
  background-color: transparent !important;
  outline: none;
  color: $grey;
  opacity: 0.4;
  padding: 15px 0 15px 35px;
  margin: 0 50px;
  border-radius: 1px;
  min-width: 350px;
  width: 70%;
  font-weight: 300;
  font-size: $baseFontSize-M;
  font-family: $baseFontFamily;
  background-image: url("../../../../../vendor/email.png");
  background-repeat: no-repeat;
  background-position: 10px center;

}

.custom-emails-field:focus {
  opacity: 1;
}

.customEmailsForm {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.button-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

.select-all {
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: $baseFontSize-XS;
  font-family: $futuraFontFamily;
  color: rgba(254, 254, 254, 0.7);
  background-color: #151515;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  &:hover {

    color: rgb(254, 254, 254);
  }
}
