@import "../../../stylesheets/modules/config";

.dialog {
  background-color: $modalBackgroundColor !important;
  border-radius: 5px !important;
  color: $grey !important;
  padding: 0 !important;
  a[class^="closeButton"] {
    cursor: pointer;
    left: initial !important;
    right: -50px !important;
    svg {
      circle {
        fill: none;
      }
    }
  }
}

@media (max-width: $mobileMaxWidth) {
  .dialog {
    left: 0 !important;
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $tabletMaxWidth) {
  .dialog {
    a[class^="closeButton"] {
      right: 10px !important;
      top: 10px !important;
    }
  }
}
