@import "../../../../main.scss";

.talent-box {
  width: 150px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  .title {
    color: $grey;
    font-size: $baseFontSize-S;
    margin-top: 15px;
    font-family: $futuraFontFamily;
    font-style: normal;
    text-transform: uppercase;
  }

}

