@import "../../../../../stylesheets/modules/config";

.talent-box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  & > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .title {
    color: $grey;
    font-family: $futuraFontFamily;
    text-transform: uppercase;
  }
}

@media (min-width: $desktopMinWidth) {
  .talent-box {
    width: 150px;
    margin: 5px;
    padding: 5px;

    .title {
      font-size: $baseFontSize-S;
      margin-top: 15px;
      font-style: normal;
    }
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMaxWidth) {
  .talent-box {
    margin-top: 20px;
    width: 33%;

    .title {
      margin-top: 20px;
      font-size: $mobileFontSize-XS;
      text-align: center;
    }
  }
}
