@import "../../../stylesheets/modules/config";

@media (min-width: $desktopMidWidth) {
  .container {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    .star {
      cursor: pointer;
      display: inline-block;
      margin: 0 25px;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .container {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
}
