@import "../../main.scss";

.container {
  display: flex;
  align-items: center;

  .talent {
    margin-right: 20px;

    color: $grey;
    font-family: $futuraFontFamily;
    font-size: $baseFontSize-S;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .icon {
    $superSize: 50px;

    width: $superSize;
    height: $superSize;
    margin-right: 5px;

    border: 1px solid $darkGreyBorderColor;
    border-radius: 50%;

    line-height: calc(#{$superSize} * 1.1);
    text-align: center;

    & > i {
      color: $grey;
      font-size: 25px;
    }
  }

  .star {
    cursor: pointer;
    display: inline-block;
    margin: 0 25px;
  }
}
