@import "../../main.scss";

.container {
  .info {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    .icon {
      $superSize: 50px;

      width: $superSize;
      height: $superSize;
      margin-right: 30px;

      border: 1px solid $darkGreyBorderColor;
      border-radius: 50%;

      line-height: calc(#{$superSize} * 1.1);
      text-align: center;

      & > i {
        color: $grey;
        font-size: 25px;
      }
    }

    .desc {
      width: 475px;

      font-family: $baseFontFamily;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .starLine {
    text-align: center;

    .star {
      cursor: pointer;
      display: inline-block;
      margin: 0 25px;
    }
  }
}
