@import "../../../../main.scss";

.card {
  box-sizing: border-box;
  position: relative;

  width: 440px;

  padding: 40px 50px;

  border-radius: 8px;
  background: linear-gradient(0deg, rgba(19,20,24,1) 0%, rgba(26,28,33,1) 83%, rgba(26,28,33,1) 100%);

  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);

  &_chart {
    position: absolute;
    top: -220px;
    left: 20px;

    font-family: $futuraFontFamily;
    text-transform: uppercase;
  }

  &_user {
    margin-top: 120px;

    font-family: $futuraFontFamily;
    font-size: $baseFontSize-M;
    text-align: center;
    text-transform: uppercase;

    &_isa {
      color: $dark-grey;
      font-weight: 600;
    }
  }

  &_type {
    margin-top: 14px;

    font-family: $futuraFontFamily;
    font-size: $baseFontSize-L;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  &_btnAsk {
    display: block;

    width: 258px;
    height: 40px;

    margin: 22px auto 0 auto;

    color: $grey;
    font-family: $futuraFontFamily;
    font-size: $baseFontSize-M;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 20px;
    background-color: $blue;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.5);
  }

  &_desc {
    margin-top: 32px;
    padding: 0 18px;

    &_score {
      margin-right: 38px;
      float: left;

      & > i {
        color: $dark-grey;
        font-size: 64px;
      }
    }

    &_text {
      font-size: $baseFontSize-S;
      font-weight: 300;
      line-height: 22px;
    }
  }

  &_talentsList {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;

    font-size: $baseFontSize-M;
    font-weight: 300;
    line-height: 22pt;

    & > li {
      padding: 3px 0;

      list-style-type: none;
      border-bottom-style: solid;
      border-bottom-color: $dark-grey;
      border-bottom-width: 1px;

      &:last-child {
        border: none;
      }

      & .talent {
        margin-right: 10px;

        font-size: 18px;
      }

      & .score {
        float: right;

        font-size: 18px;
      }
    }
  }

  &_info {
    margin-top: 32px;

    &_troubleshooting {
      margin-top: 24px;
    }

    &_score {
      margin-right: 24px;
      float: left;

      $scoreSize: 76px;

      height: $scoreSize;
      width: $scoreSize;
      line-height: calc(#{$scoreSize} * 1.2);

      border: 2px solid $dark-grey;
      border-radius: 50%;

      text-align: center;

      & > i {
        color: $dark-grey;
        font-size: 40px;
      }
    }

    &_desc {
      font-size: $baseFontSize-S;
      line-height: 22px;

      &_title {
        font-family: $futuraFontFamily;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      &_text {
        font-weight: 300;
      }
    }
  }
}
