@import "../../../../../stylesheets/modules/config";

$scoreSize: 74px;

.limitInfo {
  .icon {
    padding-right: 10px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .unlocked--margin-top {
    margin-top: 110px !important;
  }
}

@media (min-width: $desktopMinWidth) and (max-width: 600px) {
  .locked--margin-top {
    margin-top: 155px !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .locked--margin-top {
    margin-top: 102px !important;
  }
}

.share-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 10px 0;
}

.fb-share-link {
  color: $grey;
  text-transform: uppercase;
  font-family: $futuraFontFamily;
  font-size: $baseFontSize-M;
  font-weight: 300;
  cursor: pointer;
}

@media (min-width: $desktopMinWidth) {
  .unlocked--margin-top {
    margin-top: 98px;
  }

  .locked--margin-top {
    margin-top: 88px;
  }

  .card {
    margin-bottom: 65px;
    box-sizing: border-box;
    position: relative;

    width: 440px;

    padding: 40px 50px;

    border-radius: 8px;
    background: linear-gradient(0deg, rgba(19, 20, 24, 1) 0%, rgba(26, 28, 33, 1) 83%, rgba(26, 28, 33, 1) 100%);

    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);

    .limitInfo {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -180px;
      font-weight: 300;
      text-align: center;

      .more {
        font-weight: 600;
      }
    }

    &_chart {
      position: relative;
      height: 380px;
      width: 380px;
      margin: -230px -20px -20px -20px;

      font-family: $futuraFontFamily;
      text-transform: uppercase;
    }

    &_user {
      font-family: $futuraFontFamily;
      font-size: $baseFontSize-M;
      text-align: center;
      text-transform: uppercase;

      &_isa {
        color: $dark-grey;
      }
    }

    &_type {
      margin-top: 10px;

      font-family: $futuraFontFamily;
      font-size: $baseFontSize-L;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }

    &_btnAsk {
      margin-top: 15px;
      text-align: center;
    }

    &_desc {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 20px;

      &_score {
        width: 74px;
        margin-right: 24px;
        text-align: center;

        &_summary {
          font-family: $futuraFontFamily;
          font-size: $baseFontSize-XL;
          letter-spacing: -0.05em;
        }

        & > i {
          color: $cardLockIconColor;
          font-size: 64px;
        }
      }

      &_text {
        width: 240px;
        font-size: $baseFontSize-S;
        font-weight: 300;
        line-height: 22px;
      }
    }

    &_talentsList {
      margin-top: 32px;
      margin-bottom: 0;
      padding: 0;

      font-size: $baseFontSize-M;
      font-weight: 300;
      line-height: 22pt;

      & > li {
        padding: 3px 0;

        list-style-type: none;
        border-bottom-style: solid;
        border-bottom-color: $darkGreyBorderColor;
        border-bottom-width: 1px;

        &:last-child {
          border: none;
        }

        & .talent {
          margin-right: 10px;

          font-size: 18px;
          [class^="icon-"],
          [class*=" icon-"] {
            font-size: 14px;
          }
        }

        & .score {
          float: right;
          color: $cardLockIconColor;
          font-size: 18px;

          .value {
            color: $grey;
            font-family: $futuraFontFamily;
            font-size: $baseFontSize-M;
            font-weight: 400;
          }
        }
      }
    }

    &_info {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 32px;

      &_troubleshooting {
        margin-top: 24px;
      }

      &_title {
        display: none;
      }

      &_score {
        margin-right: 24px;

        &_radial {
          height: $scoreSize;
          width: $scoreSize;
        }

        &_icon {
          height: $scoreSize;
          width: $scoreSize;
          line-height: calc(#{$scoreSize} * 1.1);

          border: 2px solid $darkGreyBorderColor;
          border-radius: 50%;

          text-align: center;

          & > i {
            color: $cardLockIconColor;
            font-size: 40px;
          }
        }
      }

      &_desc {
        width: 240px;

        font-size: $baseFontSize-S;
        line-height: 22px;

        &_title {
          font-family: $futuraFontFamily;
          font-weight: 400;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }

        &_text {
          font-weight: 300;
        }
      }
    }
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMaxWidth) {
  .unlocked--margin-top {
    margin-top: 166px;
  }

  .locked--margin-top {
    margin-top: 155px;
  }

  .limitInfo {
    padding-bottom: 20px;

    font-weight: 300;
    text-align: center;

    .more {
      font-weight: 600;
    }
  }

  .card {
    box-sizing: border-box;
    position: relative;

    width: 100%;

    margin-bottom: 20px;
    padding: 40px 20px;

    border-radius: 8px;
    background: linear-gradient(0deg, rgba(19, 20, 24, 1) 0%, rgba(26, 28, 33, 1) 83%, rgba(26, 28, 33, 1) 100%);

    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);

    .limitInfo {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -180px;
      font-weight: 300;
      text-align: center;

      .more {
        font-weight: 600;
      }
    }

    &_chart {
      position: relative;
      width: 110%;
      margin: -67.5% -5% -20px -5%;

      font-family: $futuraFontFamily;
      text-transform: uppercase;
    }

    &_user {
      font-family: $futuraFontFamily;
      font-size: $mobileFontSize-S;
      text-align: center;
      text-transform: uppercase;

      &_isa {
        color: $dark-grey;
      }
    }

    &_type {
      margin-top: 14px;

      font-family: $futuraFontFamily;
      font-size: $mobileFontSize-L;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }

    &_btnAsk {
      margin-top: 22px;
      text-align: center;
    }

    &_desc {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 32px;

      &_score {
        width: 74px;
        text-align: center;

        &_summary {
          font-family: $futuraFontFamily;
          font-size: $baseFontSize-XL;
          letter-spacing: -0.05em;
        }

        & > i {
          color: $cardLockIconColor;
          font-size: 64px;
        }
      }

      &_text {
        margin-top: 26px;
        width: 90%;
        font-size: $mobileFontSize-S;
        text-align: center;
        font-weight: 300;
        line-height: 22px;
      }
    }

    &_talentsList {
      margin-top: 32px;
      margin-bottom: 0;
      padding: 0;

      font-size: $mobileFontSize-S;
      font-weight: 300;
      line-height: 22pt;

      & > li {
        padding: 3px 0;

        list-style-type: none;
        border-bottom-style: solid;
        border-bottom-color: $darkGreyBorderColor;
        border-bottom-width: 1px;

        &:last-child {
          border: none;
        }

        & .talent {
          margin-right: 10px;

          font-size: 18px;
        }

        & .score {
          float: right;
          color: $cardLockIconColor;
          font-size: 18px;

          .value {
            color: $grey;
            font-family: $futuraFontFamily;
            font-weight: 400;
          }
        }
      }
    }

    &_info {
      display: flex;
      flex-direction: column;;
      align-items: center;

      margin-top: 32px;

      &_title {
        margin-bottom: 20px;

        font-family: $futuraFontFamily;
        font-size: $mobileFontSize-M;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }

      &_troubleshooting {
        margin-top: 24px;
      }

      &_score {
        &_radial {
          height: $scoreSize;
          width: $scoreSize;
        }

        &_icon {
          height: $scoreSize;
          width: $scoreSize;
          line-height: calc(#{$scoreSize} * 1.1);

          border: 2px solid $darkGreyBorderColor;
          border-radius: 50%;

          text-align: center;

          & > i {
            color: $cardLockIconColor;
            font-size: 40px;
          }
        }
      }

      &_desc {
        width: 90%;

        font-size: $mobileFontSize-S;
        line-height: 22px;
        text-align: center;

        &_title {
          display: none;
        }

        &_text {
          font-weight: 300;
        }
      }
    }
  }
}
