@import "../../../../main.scss";

.container {
  .title {
    color: $grey;
    font-weight: 300;
    opacity: .3;
  }
  .actions {
    .anonymous {
      margin-top: 15px;
      font-weight: 300;
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktopMidWidth) {
  .container {
    flex: 1 100%;
    flex-flow: column wrap;
    margin: 0 auto;
    .actions,
    .title {
      display: flex;
      flex: 1;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .anonymous {
      font-size: $baseFontSize-XS;
    }
    .title {
      font-size: $baseFontSize-M;
      font-family: $baseFontFamily;
    }
    .talents {
      display: flex;
      align-items: stretch;
      flex-flow: column wrap;
    }
    .talent-row {
      position: relative;
      margin-bottom: 15px;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
    .talent {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .name {
      margin-right: 20px;
      color: $grey;
      font-family: $futuraFontFamily;
      font-size: $baseFontSize-S;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .container {
    padding: 50px 20px;
    text-align: center;

    .title {
      margin-bottom: 20px;
      font-size: $mobileFontSize-S;
    }

    .talent {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;

      .name {
        margin-left: 15px;
        font-family: $futuraFontFamily;
        font-size: $mobileFontSize-S;
        letter-spacing: .05em;
        text-transform: uppercase;
      }
    }

    .actions {
      margin-top: 40px;

      .anonymous {
        font-size: $mobileFontSize-XS;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}
