@import "../../../../main.scss";

@media (min-width: $desktopMidWidth) {
  .container {
    flex: 1 100%;
    flex-flow: column wrap;
    margin: 0 auto;
    .actions,
    .title {
      display: flex;
      flex: 1;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .anonymous {
      margin-top: 15px;
      font-size: $baseFontSize-XS;
      font-weight: 300;
      font-family: $baseFontFamily;
      opacity: 0.2;
    }
    .title {
      font-size: $baseFontSize-M;
      font-weight: 300;
      font-family: $baseFontFamily;
      color: $grey;
      opacity: 0.3;
    }
    .talents {
      display: flex;
      align-items: stretch;
      flex-flow: column wrap;
    }
    .talent-row {
      position: relative;
      margin-bottom: 15px;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
    .talent {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .name {
      margin-right: 20px;
      color: $grey;
      font-family: $futuraFontFamily;
      font-size: $baseFontSize-S;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .container {
    padding: 50px 20px;
    text-align: center;

    .title {
      margin-bottom: 20px;
      font-size: $mobileFontSize-S;
      font-weight: 300;
      opacity: .3;
    }

    .talent {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;

      .name {
        margin-left: 15px;
        font-family: $futuraFontFamily;
        font-size: $mobileFontSize-S;
        letter-spacing: .05em;
        text-transform: uppercase;
      }
    }

    .actions {
      margin-top: 40px;

      .anonymous {
        margin-top: 15px;

        font-size: $mobileFontSize-XS;
        font-weight: 300;
        opacity: .2;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}
