@import "../../../stylesheets/modules/config";

.content {
  max-width: 1270px;
  margin: 0 auto;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $futuraFontFamily;
  text-transform: uppercase;

  .brand {
    font-size: $baseFontSize-M;
    font-weight: 600;
    letter-spacing: .1em;
  }

  .user-menu {
    align-items: center;
    border-radius: 15px;
    border: 1px solid $grey;
    color: $grey;
    display: flex;
    font-size: $baseFontSize-S;
    height: 30px;
    justify-content: center;
    opacity: .5;
    text-decoration: none;
    width: 100px;
  }
}
