@import "../../../stylesheets/modules/config";

.container {
  max-width: 610px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  font-size: $baseFontSize-XS;
  font-family: $baseFontFamily;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
  a {
    text-decoration: underline;
    color: white;
    opacity: 0.15;
  }
  .info {
    color: $grey;
    opacity: 0.15;
    text-align: center;
    margin-bottom: 20px;
  }
  .brand {
    padding: 0;
    margin-bottom: 20px;
    opacity: 0.05;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    img {
      max-width: 200px;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .info {
    line-height: 18px;
    padding: 5px;
  }
}
