@import '../../../../../stylesheets/modules/config';

.user-photo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
  margin: 10px;
  background-image: url("../../../../../vendor/avatar.svg");
}

.container {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #232324;
  &:last-child {
    border: none !important;
  }
  .marker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .tick {
      border-radius: 50%;
      border: 1px solid $grey;
      font-size: 14px;
      color: $grey;
      background-color: transparent;
      opacity: 0.7;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }
}

.details {
  padding: 5px;
  color: $grey;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: column wrap;
  .email {
    opacity: 0.3;
    font-family: $baseFontFamily;
    font-size: $baseFontSize-S;
    font-weight: 300;
  }
  .name {
    font-family: $futuraFontFamily;
    text-transform: uppercase;
  }
}

.container--selected {
  .marker {
    .tick {
      color: black;
      background-color: $grey;
      opacity: 1;
    }
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMidWidth) {
  .user-photo {
    margin: 0;
  }
}
