@import "../../../../main.scss";

.desc {
  font-weight: 300;
  line-height: 24px;
}

@media (min-width: $desktopMidWidth) {
  .container {
    display: inline-flex;
    flex: 1;
    flex-flow: column wrap;
    .info-row {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      justify-content: center;
    }
    .info {
      display: flex;
      padding-left: 40px;
    }
    .desc {
      max-width: 475px;
      width: 100%;
      margin-left: 30px;
      font-family: $baseFontFamily;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .desc {
    margin-top: 20px;
    font-size: $mobileFontSize-XS;
  }
}
