@import "../../../stylesheets/modules/config";

// background-color: #FFAC52;
// background-color: #FF7555;
// background-color: #FF3C57;

.container {
  .progress {
    height: 10px;
    width: 100%;

    display: flex;
    align-items: center;

    filter: url('#goo');

    background: linear-gradient(90deg, #FFAC52 0%, #FF3C57 100%);
    border-radius: 5px;

    .handle {
      height: 33px;
      width: 33px;

      cursor: grab;

      background-color: #FF7555;
      border-radius: 100%;
    }
  }

  svg {
    display: none;
  }
}
