@import "../../../stylesheets/modules/config";

$progressHeight: 10px;
$handleAnimation: all 1s ease;
$max: 100%;
$mid: 50%;

.container {
  position: relative;

  .progress {
    height: $progressHeight;
    width: 100%;

    filter: url('#goo');

    position: relative;

    background: linear-gradient(90deg, #FFAC52 0%, #FF3C57 100%);
    border-radius: 5px;
  }

  svg {
    height: 0px;
    width: 0px;
    position: absolute;
  }
}

@keyframes pulsing {
  to {transform: scale(1.05);}
}

@media (min-width: $desktopMinWidth) {
  $handleRadius: 50px;

  .container {
    .progress {
      .handle {
        height: $handleRadius;
        position: absolute;
        top: -($handleRadius/2)+$progressHeight/2;
        border-radius: 100%;
        opacity: .5;

        animation: pulsing 2s infinite alternate ease-in-out;
      }

      .handle-left {
        transition: $handleAnimation;
        width: $handleRadius * 1.5;
        left: 0;
        background-color: #FFAC52;
      }

      .handle-center {
        transition: $handleAnimation;
        width: $handleRadius * 2;
        left: calc(#{$mid} - #{$handleRadius});
        background-color: #FF7555;
      }

      .handle-right {
        transition: $handleAnimation;
        width: $handleRadius * 1.5;
        left: calc(#{$max} - #{$handleRadius * 1.5});
        background-color: #FF3C57;
      }
    }
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMaxWidth) {
  $handleRadius: 40px;

  .container {
    .progress {
      .handle {
        height: $handleRadius;
        position: absolute;
        top: -($handleRadius/2)+$progressHeight/2;
        border-radius: 100%;
        opacity: .5;

        animation: pulsing 2s infinite alternate ease-in-out;
      }

      .handle-left {
        transition: $handleAnimation;
        width: $handleRadius * 1.5;
        left: 0;
        background-color: #FFAC52;
      }

      .handle-center {
        transition: $handleAnimation;
        width: $handleRadius * 2;
        left: calc(#{$mid} - #{$handleRadius});
        background-color: #FF7555;
      }

      .handle-right {
        transition: $handleAnimation;
        width: $handleRadius * 1.5;
        left: calc(#{$max} - #{$handleRadius * 1.5});
        background-color: #FF3C57;
      }
    }
  }
}
