@import "../../../../main.scss";

.container {
  flex: 1 100%;
  flex-flow: column wrap;
  margin: 0 auto;
  margin-top: 50px;
  .actions {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .anonymous {
    margin-top: 15px;
    font-size: $baseFontSize-XS;
    font-weight: 300;
    font-family: $baseFontFamily;
    opacity: 0.2;
  }
  .statements {
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
  }
  .statement-row {
    margin-bottom: 15px;
    display: inline-flex;
    flex-flow: column wrap;
  }
  .statement {
    margin-right: 20px;
    color: $grey;
    font-family: $futuraFontFamily;
    font-size: $baseFontSize-S;
    text-transform: uppercase;
  }
}
