@import "../../../stylesheets/modules/config";

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  height: 100%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;

  svg {
    height: 100%;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .active {
    fill: url(#fgradient);
  }

  .haze {
    fill: #B2C4FF;
    opacity: 0.15;
  }

  .legend {
    fill: #fefefe;
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
  }

  .loader {
    position: absolute;
  }

  .userPhoto {
    width: 75px;
    height: 75px;
    margin-top: -37px;
    margin-left: -37px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-size: contain;
  }

  .guide-box {
    position: absolute;

    .guide-line {
      stroke: rgba(254,254,254, .5);
      stroke-dasharray: 100%;
      stroke-dashoffset: -5%;
      stroke-width: 1;
    }

    .guide-text {
      fill: $grey;
      font-family: $futuraFontFamily;
      text-transform: uppercase;
    }
  }
}
