@import "../../../stylesheets/modules/config";

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg {
  width: 100%;
  height: 100%;
}

#radarChart {
  height: 100%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

#chart {
  animation: rotation 30s linear infinite;
}

.radarChartContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.userPhoto {
  width: 75px;
  height: 75px;
  margin-top: -37px;
  margin-left: -37px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-size: contain;
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMaxWidth) {
  .moveDown {
    margin-top: 110px;
  }
}
