@import "../../../../../stylesheets/modules/config";

.stage {
  text-transform: uppercase;
  text-align: center;
  font-family: $futuraFontFamily;
  font-size: $baseFontSize-S;
  color: $grey;
  opacity: 0.4;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}
