@import "../../main.scss";

.container {
  height: 100%;
  width: 100%;

  font-family: $baseFontFamily;

  .title {
    margin-bottom: 30px;
    font-weight: 300;
  }

  .text {
    width: 80%;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.5em;
  }
}
