@import "../../../../main.scss";

@media (min-width: $desktopMinWidth) {
  .container {
    display: flex;
    flex-flow: row wrap;
    color: $grey;
    margin-top: 10px;
    margin-bottom: 10px;
    .name {
      font-family: $futuraFontFamily;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: $grey;
    }

    .description {
      text-align: center;
      font-size: $baseFontSize-M;
      color: $grey;
      opacity: 0.5;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .controls {
      display: flex;
      flex-flow: row wrap;
      color: $grey;

      .manage-button-minus,
      .manage-button-plus {
        font-size: 31px;
        opacity: 0.4;
        cursor: pointer;
      }
      .manage-button-plus {
        align-self: flex-start;
        flex: none;
      }

      .manage-button-minus {
        align-self: flex-end;
        flex: none;
      }
      .manage-button-minus--selected,
      .manage-button-plus--selected {
        opacity: 1;
      }
    }
  }

  .container > * {
    flex: 1 100%;
    align-items: center;
  }

  .controls > * {
    flex: 1;
    display: flex;
    align-items: center;
    align-self: center;
  }
}

@media (min-width: $mobileMinWidth) and (max-width: $mobileMaxWidth) {
  .container {
    text-align: center;

    .name {
      font-family: $futuraFontFamily;
      font-size: $mobileFontSize-M;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .description {
      display: none;
    }

    .controls{
      margin: 20px 0 40px 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .manage-button-minus, .manage-button-plus {
        font-size: 30px;
      }

      .manage-button-minus {
        opacity: .4;
      }
    }
  }
}
