@import "../../../stylesheets/modules/config";

.overlay {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  max-height: 25%;
  padding: 10px;
  background: black;
  opacity: 0.8;
  justify-content: center;
  z-index: 100;
}

.overlay--visible {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.mobile-message {
  color: $grey;
  font-size: $baseFontSize-S;
  font-family: $baseFontColor;
  padding: 5px;
  text-align: center;
}

.mobile-title {
  padding-bottom: 10px;
  color: $grey;
  text-align: center;
  font-size: $baseFontSize-S;
  font-family: $futuraFontFamily;
  text-transform: uppercase;
}
