@import "../../../../main.scss";

@media (min-width: $desktopMidWidth) {
  .container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: $landingBackgroundColor;
    background-image: url("../../../../../vendor/landingPageBackgroundImage.png");
    background-position: center;
    background-size: cover;

    .header {
      margin-top: 2.5%;
      font-family: $futuraFontFamily;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .content {
      max-width: 1000px;
      margin-left: 14%;

      display: flex;
      align-items: center;

      .radarChart {
        position: relative;
        width: 35%;
      }

      .jumbotron {
        width: 65%;
      }
    }

    .footer {
      margin: 2.5% 0;
      font-family: $landingFooterFont;
      font-size: $baseFontSize-S;
      font-weight: 600;
      opacity: 0.1;
    }
  }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  body {
    padding: 0 !important;
  }

  .container {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $landingBackgroundColor;
    background-image: url("../../../../../vendor/landingPageBackgroundImage.png");
    background-position: center;
    background-size: cover;

    .header {
      font-family: $futuraFontFamily;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .radarChart {
        margin-bottom: -5%;
        position: relative;
      }
    }

    .footer {
      margin: 100px 0 2.5% 0;
      font-family: $landingFooterFont;
      font-size: $mobileFontSize-XS;
      font-weight: 600;
      opacity: 0.1;
    }
  }
}
