@import "../../../../../stylesheets/modules/config";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $landingBackgroundColor;
  background-image: url("../../../../../vendor/landingPageBackgroundImage.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  .content {
    height: 100%;

    .columnLeft {
      width: 34%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .radarChart {
        position: relative;
      }
    }

    .columnRight {
      width: 66%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        font-family: $futuraFontFamily;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      .footer {
        font-family: $landingFooterFont;
        font-size: $baseFontSize-S;
        font-weight: 600;
        opacity: 0.25;
      }
    }
  }
}

@media (min-width: $desktopMidWidth) and (max-width: 1199px) {
 .container {
   .content {
     margin-left: 16%;
   }
 }
}

@media (min-width: $desktopMidWidth) {
 .container {
   height: 100%;
   width: 100%;

   .mobileHeader {
     display: none;
   }

   .content {
     max-width: 1200px;
     margin-left: 17.5%;

     display: flex;
     flex-direction: row;

     .columnRight {
       .header {
         margin-top: 50px;
       }
       .footer {
         margin-bottom: 50px;
       }
     }
   }
 }
}

@media (min-width: 0px) and (max-width: $tabletMaxWidth) {
  .container {
    padding: 20px;

    .mobileHeader {
      font-family: $futuraFontFamily;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .columnLeft {
        width: 100%;

        .radarChart {
          margin: -7.5% 0 -15% 0;
        }
      }

      .columnRight {
        width: 100%;

        text-align: center;

        .header {
          display: none;
        }

        .footer {
          margin-top: 100px;
          font-size: $mobileFontSize-XS;
        }
      }
    }
  }
}
