@import "../../../../../stylesheets/modules/config";

.container {
  position: relative;
  width: 100%;
  min-height: 105px;
  background-color: #0c0d10;
  display: flex;
  flex: 1 100%;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  .message {
    display: inline;
    font-size: 18px;
    font-family: $baseFontFamily;
    font-weight: 300;
    padding: 15px 15px 30px;
    text-align: center;
  }

  .user-photo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    margin-bottom: -25px;
  }

}
